<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension id="WorkspaceTab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Search tab"/>
        <class value="ru.mydesignstudio.protege.plugin.search.ui.SearchFeaturePane"/>
        <index value="X"/>
        <editorKitId value="OWLEditorKit"/>
        <defaultViewConfigFileName value="feature-pane-config.xml"/>
    </extension>

    <extension id="SearchParamsView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Search params"/>
        <class value="ru.mydesignstudio.protege.plugin.search.ui.SearchParamsView"/>
       	<headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <extension id="SearchResultsView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Search results"/>
        <class value="ru.mydesignstudio.protege.plugin.search.ui.SearchResultsView"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>
</plugin>
